<!DOCTYPE html">

{% load static %}

    <html lang="en" >
        <head>
            <meta charset="utf-8" />
            <title>Контакты</title>
            <link href="{% static 'traveling/css/sliderns.css' %}" rel="stylesheet" type="text/css" />
        </head>
        <body bgcolor="#000000">



          <div class="outer" style="height:100px; width: 100%; ">
            <p translate="no" align="center" style="font-size:80px">

              simoron1964@gmail.com

            </p>
          </div>


        <script src="{% static 'traveling/js/sl.js' %}"></script>
        </body>
    </html>
